*{
    padding: 0;
    margin: 0;
}



htm{size: 20px;

}

body{


    background-color: rgb(244, 245, 239);
}

header{
    

  display: flex;  
  background-color: #e6cbfa;
  border-bottom: 2px;color: darkgreen; 
  height: 50px;
  align-items: center;



}
header .logo img{
    display: flex;
    justify-content: left;
    margin-top: 4em;
    justify-content: left;
     width: 10em;
    border-radius: 5em;
    flex-wrap: wrap;
}

.logo :hover{
  margin-bottom: 25px;
  transition: 1s;
}
nav{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(26, 237, 173);
    height: 6%;
    border-top: 2px solid beige;
    
}
  
ul a{
    text-decoration: none;
    top:4em;
    font-family: 'Croissant One', cursive;
    font-size: 1em;
    margin-inline-end: 3em;
    color: rgb(5, 5, 5);
    font-style: unset;
    text-align: center;
    list-style: none;
    bottom: auto;
    
}
a:hover{
    color:rgb(107, 91, 91);
    margin: 25px;
    transition: 1s;
    
}

/* Titulo Plantitas que curan*/
main h1{
    display: flex;
    justify-content: space-around;
    background-color: #fce0a5;
    font-size: 2em;
    font-weight: 200;
    font-family: 'Croissant One', cursive;
    color:rgb(7, 14, 119); 
    text-decoration-color: #803CB0;
    margin-top: 5px;
    text-decoration: solid;
    text-wrap: 1em;
   
}

h1:hover{
    color: rgb(9, 54, 105);
    background-color: rgb(180, 245, 180);
    
   
}


/*Les damos la bienvenida*/

.bienvenida h2{
    display: flex;
    font-family: 'Croissant One', cursive;
    color: rgb(46, 148, 46);
    justify-content: space-around;
    font-size: 2.5em;

    margin-top: 30px;
    margin-left: 50px;
   
}
.bienvenida :hover{
    margin: 15px;
    color: #803CB0;
    transition: 1s;
}

/*tamaño carousel*/
.carouselExampleAutoplaying{
   max-height: 457px;
   width: 100%;

}
div .carousel-item img{
    height: 35em;
    align-items: center;
}
.caousel-iner{
    height: 200px;
}

/*Descripción*/
.bienvenida h3{
    font-family: 'Croissant One', cursive;
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
    margin: 20px;

}
.bienvenida{
    
    margin: 20px;
    margin-top: 1em;
    background-color: rgb(250, 250, 233);
    justify-content: center;
   
   
    
}


.imgportada{
    margin: 50px;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 50%;
    align-items: center;
}
    
    .carousel-item{
        width: 100%;
        height: 400px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
      }

      /* grid conteiner*/

.grid-conteiner{
    display:flex block;
   /* grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(1,1fr);
    border: #803CB0 solid 3px;*/
    gap: 2px;
    text-wrap: 2px;
    
 
}
.grid-items1{
    /*grid-column: 1/2;
    grid-row: 1/2;*/
    padding: 10px;
    text-size-adjust: 2em;
    border: #803CB0 solid ;
    text-align: center;
    border-top-right-radius: 0.5em 1em;
    background-image: url(../imagenes/FondoHomenaje.jpg);
    text-wrap: 2px;
    margin: 2px;
    
    
}
.albaMirtha{
    font-style: italic;
    color: rgb(223, 95, 95);
    text-decoration: solid;
    font-size: medium;
}
.amor{
    font-style: italic;
    color: rgb(212, 127, 57);
    text-decoration: solid;
    font-size: x-large;
}

.grid-items2{
    /*grid-column: 1/2;
    grid-row: 1/2;*/
    padding: 10px;
    text-size-adjust: 2em;
    border: #803CB0 solid ;
    border-top-right-radius: 0.5em 1em;
    background-image: url(../imagenes/FondoHomenaje.jpg);
    white-space: pre-line;
    text-align: center ;
    text-size-adjust: 2em;
    text-wrap: 2px;
    margin: 2px;
  

}

.ac{
    text-align: center;
    padding: 10px;
}

.grid-items3{
    /*grid-column: 1/2;
    grid-row: 1/2;*/
    padding: 10px;
    text-size-adjust: 2em;
    border: #803CB0 solid ;
    border-top-right-radius: 0.5em 1em;
    background-image: url(../imagenes/FondoHomenaje.jpg);
    text-wrap: 2px;
    white-space: pre-line;
    text-align: center ;
    text-wrap: 2px;
    margin: 2px;
   
}


.pgrid-itemes1{
    padding: 10px;
    white-space: pre-line;
    text-align: justify ;
    padding: 10px;
    text-size-adjust: 2em;
    text-decoration: none;

    
}
.pgrid-itemes2{
    padding: 10px;
    white-space: pre-line;
    text-align: justify ;
    padding: 10px;
    text-size-adjust: 2em;
    text-decoration: none;
  
    
}

.pgrid-itemes3{
    padding: 10px;
    white-space: pre-line;
    text-align: justify ;
    padding: 10px;
    text-size-adjust: 2em;
    text-decoration: none;
  
    
}

/*footer*/

      footer {
        display: flex;
        background-color: #803CB0;
        font-family:'Croissant One', cursive;
        color: aliceblue;
        font-size: 0.8em;
        justify-content: end;
        align-items: end;
        margin: 2px;
    
    }

      
      footer .footerimg{
       display: block; 
        margin: 10px;
        background-color: #803CB0;
        

      }
      .encontranos{
        justify-content:center ;
        font-size: small;
        
        
      }
    
/* Homenaje.html*/

.body-Homenaje{
    padding: 0;
    margin: 0;
    background-color: #f4f1f7;
}

.homenaje{
    padding: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: medium;
    text-decoration: solid;
    text-align:justify;
    white-space: pre-line;
}

      .Aprender {
        padding: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;
        text-decoration: solid;
        text-align:justify;
        white-space: pre-line;
       
     
    }
       .InicioHomenaje{
        margin:25px;
        border-radius: 25px;
        border: #803CB0 solid;
       
       
       } 
       .items-abuelas1{
        float: right;
       }
       .items-abuelas1:hover{
        margin: 15px;

       }
       .items-abuelas2{
        float: left;
        border-radius: 25px;
        margin: 30px;
       }
       .items-abuelas2:hover{
        margin: 15px;}

        /*Origenes*/
        h2{
            background-color: rgb(163, 241, 192);
            color: rgb(32, 30, 30);
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            border-top: #803CB0 solid 2px;
            border-radius: #803CB0 solid;
            margin:3px;
            text-align: center;


        }
        .origen{
            margin: 15px;
            border-radius: 25px;
            border: #803CB0 solid;
            padding: 25px;
           
        }
        .foto-origen{
            float: left;
            margin: 15px;
            
        }
        .item-origen{
        padding: 25px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: medium;
        text-decoration: solid;
        text-align:justify;
        white-space: pre-line;

        }
        