{html
    font-size:20px
    
}

body{
    background-color: beige;
}



h1{
    color: rgb(82, 16, 158);
    font-family: 'Pacifico', cursive;
font-size: 3.63em;
text-align: center;
background-color: rgb(210, 207, 30);
}
h2{
color:blue;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 1.2em;
text-align: justify;

}
.parrafo2{
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
.homenaje{
    font-size: 1.2em;
    font-family: 'Dancing Script', cursive;
align="justify-content

}
/* footer */
footer{
    background-color:rgb(210, 207, 30) ;
    
}

ol{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: indigo;
}
li{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}
.id=logo{
    background-color:rgb(210, 207, 30);
} 