body{

    display: grid;
    grid-template-columns: minmax(0.5fr 1fr) minmax(0.5fr 1fr);
    grid-template-rows: 6 repeat(1fr);
    grid-template-areas: 
     
    ".logo" "main"
    "nav" "nav"
    ".carouselExampleAutoplaying" ".carouselExampleAutoplaying"
    ".bienvenida" ".bienvenida"
    ".descrip3" "."
    ".descrip2" "."
    ".descrip1" "."
    "footer" "footer"
    ;
    //border: 2px solid blue;
    padding: 0px

    }