body{

    display: grid;
    grid-template-columns: minmax(0.3fr 1fr) minmax(0.5fr 1fr);
    grid-template-rows: 6 repeat(1fr);
    grid-template-areas: 
     
    ".logo" "main"
    "nav" "nav"
    ".carouselExampleAutoplaying" ".carouselExampleAutoplaying"
    ".bienvenida" ".bienvenida"
    ".descrip1" "."
    ".descrip2" ".descrip2"
    ".descrip3" "."
    "footer" "footer"
    ;
    //border: 2px solid blue;
    padding: 0px;
    background-image: linear-gradient(281deg, rgba(161,157,134,0.12648809523809523) 32%, rgba(255,214,0,1) 44%);
    

    }