.Descripción{
    
    
.atra{
    width: 10rem;
    height: 100%;
    margin-top:2rem;
    margin-right: 1.5rem;
    text-wrap: 1em;
    &:hover{
        margin: 1rem;
        transition: 3s;
    }
    
    //border: seashell 1px solid;

 

}

    .descrip1{
        display: flex;
        font-size: 1rem;
        color: rgb(34, 33, 33);
        text-wrap: 30%;
        padding: 5px;
        background-color: rgb(211, 185, 211); 
        justify-content: center;
        margin: 0.5rem;
        text-wrap: 1rem;
        border: solid white 4px;
      
      .desc1{
        
        text-align: center;
        text-justify: center;
        text-wrap: 2%;
        font-weight: bolder;
        overflow: auto;
        justify-items: center;
        padding: 5%;
        

      
       
       
.albaMirtha{ 
    color: rgb(247, 239, 245);
    font-weight: bold;
    margin: 1%;
}

.amor{ 
    color: rgb(13, 3, 58);
    font-weight: bold;
}      
}

}
    
    .descrip2{
        display: flex;
        border: 5px solid rgb(33, 109, 16);
        border-radius: 2%;
        margin: 5px;
        padding: 2%;
        background-color: rgb(232, 235, 36);
        justify-content: center;
        text-align: center;
        justify-items: center;
        
    
     
     .desc2{
        
        margin: 5px;
        padding: 2%;
        text-align: left;
        text-wrap: 1%;
        width: 28rem;
        height: 20;
        justify-content: left;
        font-weight: bold;

        
        
     }
        
         
     
        
.funo  {
    
    width: 10rem;
    height: 7rem;
    margin: 3%;
   
    
    

}


    }

}
    
    .descrip3{
        display: flex;
        border: 2px solid rgb(132, 0, 255);
        margin: 5px;
        padding: 2%;
        background-color: rgb(69, 69, 124);
        

        .ac{
            width: 10rem;
            height: 7rem;
            margin: 3%;
            
        }
        .des3{

            width: 80%;
            text-align: left;
            padding: 3%;
           
           
            
            .desc3{
                justify-content: center;
                text-emphasis: none;
                align-items: normal;
                color: antiquewhite;
                font-style: oblique;
                text-decoration: solid;
                margin: 1px;
                text-align: left;
                text-wrap: 1%;
                font-weight: bold;
                
               
                
                


            }
           
        }
        
        
      
     

    }    





