.Descripción{
    
    
.atra{
    width: 10rem;
    height: 100%;
    margin-top:2rem;
    margin-right: 1.5rem;
    text-wrap: 1em;
    &:hover{
        margin: 1rem;
        transition: 3s;
    }
    
    //border: seashell 1px solid;

 

}

    .descrip1{
        display: flex;
        font-size: 1rem;
        color: rgb(34, 33, 33);
        text-wrap: 30%;
        padding: 5px;
     background-color: rgb(245, 173, 245); 
      justify-content: center;
      margin: 0.5rem;
      text-wrap: 1rem;
      
      .desc1{
        
        text-align: center;
        text-justify: center;
        text-wrap: 2%;
        font-weight: bolder;
        overflow: auto;
        justify-items: center;
        padding: 5%;
        font-size: 100%;

      
       
       
.albaMirtha{ 
    color: rgb(241, 103, 218);
    font-weight: bold;
    margin: 1%;
}

.amor{ 
    color: rgb(13, 3, 58);
    font-weight: bold;
}      
}

}
    
    .descrip2{
        display: flex;
        margin: 1%;
        text-wrap: 100px;
        background-color: rgb(255, 232, 127);
        padding: 5%;
        justify-content: center;
        align-items:center ;
    
     
     .desc2{
        font-family: Raleway;
        font-size: 1rem;
        font-style: oblique;
        font-weight: bold;
        justify-items: center;
        text-align-last: center;
        margin-left: 4%;
        padding: 1%;
        white-space: 1px;
        line-break: loose;
        white-space: pre wrap;
        width: 500px;
        height: 400px;
        padding: 1rem;
       
        
       
     }
        
        




     }
     .cuadro1{
        
        //margin: 1%;
        padding: 2%;
       // border: 1px salmon solid;
       padding-left: 2%;
       margin-left: 3%;
       
       justify-items: center;
       justify-content: center;
        
     
        
.funo  {
    width: 17rem;
    height: 10rem;
    margin: 2px;
    justify-items: center;
    align-items: center;

}
.fdos {
    width: 17rem;
    height: 10rem;
    margin: 2px;
    justify-content: center;
    justify-items: center;
}
.ftres{
    width: 17rem;
    height: 10rem;
    margin: 2px;
    justify-content: center;
    justify-items: center;
     }

     .fcuatro{
        width: 17rem;
        height: 10rem;
        margin: 2px;
        justify-content: center;
        justify-items: center;
         }

    }


    }
    .descrip3{
        border: 2px solid rgb(132, 0, 255);
        margin: 5px;
        border-top-right-radius: 30%;
        text-wrap: 100px;
        padding: 45px;
        background-image: url(../imagenes/fondohomenaje.jpg);
        
      
     

    }    





