.Descripción{
    display: flexbox;

    .descrip1{
        border: 2px solid chartreuse;
    }
    .descrip2{
        border: 2px solid chartreuse;
    }
    .descrip3{
        border: 2px solid chartreuse;
    }

}