footer{
    display: flex;
    border-top: 2px solid blue;
    background: rgb(67,195,34);
    background: linear-gradient(52deg, rgba(67,195,34,1) 0%, rgba(179,166,41,0.6474964985994398) 60%, rgba(253,146,45,1) 100%);
    width: 100%;
    height: 10rem;
    

    .duendeuno{
        
        width: 10rem;
        height: 10rem;
        
        
    }
    

    .encontranos{
     justify-items: center;   
     font-size: 1rem;
     font-family:Raleway;
     font-weight:bold;
     margin: 5%;
     margin-top: 5%;
     margin-left: 10%;
     


    }
   
        
        
     
        .red{  
    display: flex;
    margin: 2%;
    justify-items:right;
    width: 30px;
    height: 30px;
    justify-items: end;
    margin-top: 9%;
    margin-right: 10%;
    margin-bottom: 2%;
   
   
    
    
}

        
    }
  