header{
    display:flex;
    
    background: rgb(120,9,121);
    background: linear-gradient(90deg, rgba(120,9,121,0.8687850140056023) 51%, rgb(163, 180, 67) 96%);
    
    .logo{
        align-items:left;
        justify-items: left;

        &:hover{
            margin: 5px;
            transition: all 1s;
        }
    }
    
main{
   
justify-content: center;
    align-items: center;
    padding: 10px;
    color:white;
    margin-left: 30px;
h1{
    font-family:Alkatra;
    font-size:  40px;
    justify-items: center;
    
&:hover{
    font-size: 25px;
    margin-right: 10px;
    transition: 10s;
}
}
}    
}
