

.bodyh{

    display: grid;
    grid-template-columns: minmax(0.3fr 1fr)minmax(0.3fr 1fr);
    grid-template-rows: 4 repeat(1fr);
    grid-template-areas: 
     
    ".logo" "main"
    "nav" "nav"
   ".Homenaje1" ".Homenaje1"
    "footer" "footer"
    ;
    //border: 2px solid blue;
    padding: 0px;
    background-image:linear-gradient(231deg, rgb(250, 227, 247) 0%, rgba(210,216,221,1) 100%);

.h1h{
    justify-content: center;
    font-size: 1.5rem;
    padding: 1px;
}
    .Homenaje1{
        justify-items: center;
        overflow: auto;
        font-family:Raleway;
        font-weight:bold;
        font-size: 0.8rem;
        border: 2px solid violet;
        margin: 5px;
        padding: 10px;
        width: 100%;
        height: 60; 


        
        //@include parrafo(Raleway,black, 10px,2px,violet , solid,2s);
    

    
    .items-abuelas{
        justify-items: right;
        float:right;
        width: 9rem;
        height: 13rem;
        
            }
.Aprender{

justify-items: center;
        overflow: auto;
        font-family:Raleway;
        font-weight:bold;
        font-size: 0.8rem;
        word-break: break-word;
       line-break: normal;
        hyphens: auto;
        overflow-wrap: break-word;
        

.items-abuelas2{
        justify-items: left;
        float: inline-end;
        margin: 10px;
        .items-abuelass{

            width: 10rem;
            height: 10rem;
        }
        .canasta{
            width: 1rem;
            height: 1rem; 
            
        }
            }
        }
    }
}