nav {
    display: block;
    justify-content: center;
    background-color: #F6CF2E; 
    align-items: center;
    justify-items: center;
    padding: 1%;
    
    
.menu{   
    
    font-weight: bold;
    

a{ 

    text-decoration: none;  
    align-items: center;
    margin: 15px;
    position: center;
    font-family: raleway;
    color: rgb(7, 4, 27);
    font-style: oblique;
    justify-content: center;
    font-weight: bold;
    padding: 5px;
    width: 80%;
    height: 10%;
    

    &:hover{ margin: 5px;
    transition: 1s;
    }


    }

    .container-fluid{
        width: 10px;
        height: 2px;
    }
}
}




