nav {
    display: flex;
    justify-content: center;
    background-color: #F6CF2E; 
    align-items: center;
    justify-items: center;
    padding: 10%;
    
    
.menu{   
    
    font-weight: bold;

a{ 

    text-decoration: none;  
    align-items: center;
    margin: 20px;
    position: center;
    font-family: raleway;
    color: rgb(7, 4, 27);
    font-style: oblique;
    justify-content: center;
    font-weight: bold;
    padding: 5px;
    

    &:hover{ margin: 5px;
    transition: 1s;
    }
    }
}
}




