

.variedades{
    display: flex;
      border: solid violet 2px;
      margin: 5px;
      padding: 10px;
      font-family: Alkatray;
      font-size: 15px;
      text-decoration: solid;

lu{
    a{
       
            text-decoration:none;
            padding:5px 5px 5px 0;
          
        text-decoration: none;
        width:30px;
        height:30px;
        background-color:coral;
        margin: 5px;
        padding:10px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        line-height:32px;
        text-transform: uppercase;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-overflow: ellipsis;
        text-decoration: solid;
        color: darkblue;  

&:hover{
  opacity: 0.50;
  -moz-opacity: .50;
  filter:alpha (opacity 50%);

.unoa{
    margin: 15px;
    padding: 15px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blue;
    text-align: justify;

}
    }
    }
}
}