@mixin estilo-parrafo($font,$text-color,$size,$ancho, $color, $style,$time){

    font-family:$font;
    color: $text-color;
    font-size:$size ;
    margin: 10px ;
    border:$ancho $color $style ;
    transition: $time ;
    padding: 5px ;
    
    &hover{
       cursor: pointer;
       background-color: aquamarine;

    } 
    





}